<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>StringsTable</key>
	<string>Root</string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>item0-header</string>
			<key>FooterText</key>
			<string>item0-footer</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>item1-title</string>
			<key>Key</key>
			<string>preferences_AutoSaveTimeout</string>
			<key>Titles</key>
			<array>
				<string>item1-titles-item0</string>
				<string>item1-titles-item1</string>
				<string>item1-titles-item2</string>
				<string>item1-titles-item3</string>
				<string>item1-titles-item4</string>
				<string>item1-titles-item5</string>
				<string>item1-titles-item6</string>
			</array>
			<key>Values</key>
			<array>
				<integer>0</integer>
				<integer>60</integer>
				<integer>120</integer>
				<integer>180</integer>
				<integer>240</integer>
				<string>300</string>
				<string>-1</string>
			</array>
			<key>DefaultValue</key>
			<integer>60</integer>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>item2-header</string>
			<key>FooterText</key>
			<string>item2-footer</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>Title</key>
			<string>item3-title</string>
			<key>Key</key>
			<string>preferences_AppVersion</string>
			<key>DefaultValue</key>
			<string></string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
			<key>Title</key>
			<string>item4-title</string>
			<key>File</key>
			<string>About</string>
		</dict>
	</array>
</dict>
</plist>
