<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>StringsTable</key>
	<string>Root</string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>security-header</string>
			<key>FooterText</key>
			<string>security-footer</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>cache-master-secret</string>
			<key>Key</key>
			<string>preferences_CacheMasterSecret</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>auto-save-title</string>
			<key>Key</key>
			<string>preferences_AutoSaveTimeout</string>
			<key>Titles</key>
			<array>
				<string>autosave-values-item0</string>
				<string>autosave-values-item1</string>
				<string>autosave-values-item2</string>
				<string>autosave-values-item3</string>
				<string>autosave-values-item4</string>
				<string>autosave-values-item5</string>
				<string>autosave-values-item6</string>
			</array>
			<key>Values</key>
			<array>
				<integer>0</integer>
				<integer>60</integer>
				<integer>120</integer>
				<integer>180</integer>
				<integer>240</integer>
				<string>300</string>
				<string>-1</string>
			</array>
			<key>DefaultValue</key>
			<integer>60</integer>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>general-header</string>
			<key>FooterText</key>
			<string>general-footer</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>Title</key>
			<string>app-version</string>
			<key>Key</key>
			<string>preferences_AppVersion</string>
			<key>DefaultValue</key>
			<string></string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
			<key>Title</key>
			<string>about-title</string>
			<key>File</key>
			<string>About</string>
		</dict>
	</array>
</dict>
</plist>
